<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid ">
        <a class="navbar-brand text-light fw-bold">Courses App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup" >
            <div class="navbar-nav">
                {{#if isHome}}
                    <a class="nav-link active btn-primary text-light" aria-current="page" href="/">Главная страница</a>
                {{else}}

                    <a class="nav-link btn-primary text-light" aria-current="page" href="/">Главная страница</a>
                {{/if}}


                {{#if isCourses}}
                    <a class="nav-link active btn-primary text-light" href="/courses">Курсы</a>
                {{else}}
                    <a class="nav-link  btn-primary text-light" href="/courses">Курсы</a>
                {{/if}}

                {{#if isAdd}}
                    <a class="nav-link active  btn-primary text-light" href="/add">Добавить курс</a>
                {{else}}
                    <a class="nav-link btn-primary text-light" href="/add">Добавить курс</a>
                {{/if}}
                {{#if isCard}}
                    <a class="nav-link active  btn-primary text-light " href="/card">Корзина</a>
                {{else}}
                    <a class="nav-link btn-primary text-light" href="/card">Корзина</a>
                {{/if}}

                {{#if isOrder}}
                    <a class="nav-link active  btn-primary text-light " href="/orders">Заказы</a>
                {{else}}
                    <a class="nav-link btn-primary text-light" href="/orders">Заказы</a>
                {{/if}}

            </div>
        </div>
    </div>
</nav>