<h1>Редактировать курса {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="course-form">
    <div class="mb-3">
        <label for="title" class="form-label">Название курса</label>
        <input type="text" name="title" class="form-control" id="title" value="{{course.title}}">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Цена курса</label>
        <input type="text" name="price" class="form-control" id="price" value="{{course.price}}">
    </div>
    <div class="mb-3">
        <label for="img" class="form-label">URL картинки</label>
        <input type="text" name="img" class="form-control" id=img"  value="{{course.img}}">
    </div>

    <input type="hidden" name="id" value="{{course._id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button type="submit" class="btn btn-primary">Изменить курс</button>
</form>

<form action="/courses/remove" method="POST">
    <input type="hidden" name="id" value="{{course._id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button type="submit" class="btn btn-danger">Удалить курс</button>
</form>